body{
    background-image:url("../images/bg.jpg");
}

#container {
    margin:20px auto 0 auto;
    position:relative;
    width:900px;
    padding:20px;
    background-color:#222;
    border-top:20px solid #222;
    border-bottom:20px solid #222;
    background-color:#212121;

    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px rgba(0,0,0,1);
    background-image:url("../images/bg_int.jpg");
}

*{
    letter-spacing:1px;
    font-family:"Helvetica",verdana;
    color:#cdcdcd;
}

nav ul li {
    float:left;
    width:100px;
    height:35px;
    margin-left:20px;

}

#container nav ul li a{
    /* Do rounding (native in Safari, Firefox and Chrome) */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-size:20px;
    text-shadow:1px 1px 0 rgba(0,0,0,0.5);
    text-decoration:none;
    text-align:center;
    display:block;
    line-height:1.7;
    width:100%;
    height:100%;
    color:#fff;
    background-color:#000;
    font-family:"Lobster",serif;
    /* Firefox */
    -moz-transition: all 0.3s ease;
    /* WebKit */
    -webkit-transition: all 0.3s ease;
    /* Opera */
    -o-transition: all 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}

#container nav ul li a:hover{
    color:#fff;
    background-color:#799fb2;
    text-shadow:1px 1px 0 rgba(0,0,0,1);
    
}

h2 {
    color:#607890;
    font-family:"Lobster",serif;
    text-shadow:1px 1px 0 rgba(255,255,255,1);
    font-size:80px;
    /* Firefox */
    -moz-transition: -moz-transform 0.3s ease;
    /* WebKit */
    -webkit-transition: -webkit-transform 0.3s ease;
    /* Opera */
    -o-transition: -o-transform 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}

h2:hover {
    /* Firefox */

-moz-transform: rotate(1deg);

/* WebKit */

-webkit-transform: rotate(1deg);

/* Opera */

-o-transform: rotate(1deg);

/* Standard */

transform: rotate(1deg);
}

p, li {
    font-size:12px;
    text-shadow:1px 1px 0 rgba(0,0,0,0.8);
}

h3 {
    margin-top:35px;
    font-weight:normal;
    color:#607890;
    font-family:"Puritan",serif;
    font-size:20px;
    text-shadow:2px 2px 0 rgba(0,0,0,0.5);
}

#logo{
    position:absolute;
    top:310px;
    left:600px;

}

